@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;600&family=Open+Sans:wght@600;800&family=Ubuntu:wght@300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-background: #2f2f2f;
  --white-background: #fffaef;
  --height-header: 54px;

  --white-text: #f6f6f6;
  --black-text: #1f1a1a;
  --hover-text: #ffa920;


}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", "Open Sans", "Geologica", sans-serif;
}

body {
  font-size: 22px;
  line-height: 1.8;
  font-weight: 400;
  background-color: var(--white-background);
  background-size: cover;
  color: var(--black-text);
  padding: 0 !important;
}
